Repository msnq-prod/lame-rms, changes with the owners that CODEOWNERS names for each.
All owners: @adam-rms/maintainers, @adam-rms/devops, @adam-rms/qa

CODEOWNERS:

# Default owners for the repository
* @adam-rms/maintainers

# CI workflows and infrastructure
.github/workflows/ @adam-rms/devops
Dockerfile @adam-rms/devops

# Core application code
src/App/ @adam-rms/maintainers

# Automated tests
tests/ @adam-rms/qa

docs: development & contributing guides + PR/Issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  DEVELOPMENT.md
  Readme.md
Owners: @adam-rms/maintainers

Configure web service to run PHP dev server
  docker-compose.dev.yml
Owners: @adam-rms/maintainers

Configure web service to run PHP dev server
  docker-compose.dev.yml
Owners: @adam-rms/maintainers

Add FastAPI backend skeleton
  .editorconfig
  .gitignore
  backend/README.md
  backend/alembic.ini
  backend/alembic/env.py
  backend/alembic/versions/0001_initial.py
  backend/app/__init__.py
  backend/app/api/__init__.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/health.py
  backend/app/core/__init__.py
  backend/app/core/config.py
  backend/app/core/logging.py
  backend/app/db/__init__.py
  backend/app/db/base.py
  backend/app/db/session.py
  backend/app/main.py
  backend/pyproject.toml
  backend/ruff.toml
  backend/tests/__init__.py
  backend/tests/test_health.py
Owners: @adam-rms/maintainers, @adam-rms/qa

Add Docker setup for backend and database
  .env.example
  .gitignore
  Makefile
  backend/Dockerfile
  docker-compose.yml
Owners: @adam-rms/maintainers, @adam-rms/devops

Refine migration roadmap with technical execution steps
  docs/migration_plan.md
Owners: @adam-rms/maintainers

Automate Codex5 migration stages
  docs/migration_plan.md
Owners: @adam-rms/maintainers

docs: detail status schema workflow
  docs/migration_plan.md
Owners: @adam-rms/maintainers

Adjust stage01 documentation for manual legacy prep
  docs/migration_plan.md
Owners: @adam-rms/maintainers

Add tool bootstrap script and document usage
  Readme.md
  automation/bin/ensure_tools.sh
  docs/migration_plan.md
Owners: @adam-rms/maintainers

chore: bootstrap migration automation scaffolding
  .github/workflows/codex5-migration.yml
  Makefile
  Readme.md
  automation/stage01/report.md
  automation/stage01/run.sh
  automation/stage01/self_check.sh
  automation/stage02/report.md
  automation/stage02/run.sh
  automation/stage02/self_check.sh
  automation/stage03/report.md
  automation/stage03/run.sh
  automation/stage03/self_check.sh
  automation/stage04/report.md
  automation/stage04/run.sh
  automation/stage04/self_check.sh
  automation/stage05/report.md
  automation/stage05/run.sh
  automation/stage05/self_check.sh
  automation/stage06/report.md
  automation/stage06/run.sh
  automation/stage06/self_check.sh
  automation/stage07/report.md
  automation/stage07/run.sh
  automation/stage07/self_check.sh
  automation/stage08/report.md
  automation/stage08/run.sh
  automation/stage08/self_check.sh
  automation/stage09/report.md
  automation/stage09/run.sh
  automation/stage09/self_check.sh
  automation/stage10/report.md
  automation/stage10/run.sh
  automation/stage10/self_check.sh
  automation/stage11/report.md
  automation/stage11/run.sh
  automation/stage11/self_check.sh
  automation/stage12/report.md
  automation/stage12/run.sh
  automation/stage12/self_check.sh
  automation/templates/report.md
Owners: @adam-rms/devops, @adam-rms/maintainers

Implement stage02 inventory automation
  automation/stage02/generate_inventory.py
  automation/stage02/report.md
  automation/stage02/run.sh
  automation/stage02/self_check.sh
  automation/stage02/status.json
  docs/backlog/migration_backlog.json
  docs/backlog/migration_backlog.yaml
  docs/inventory/api/endpoints.csv
  docs/inventory/api/openapi.json
  docs/inventory/api/summary.md
  docs/inventory/api_surface.mmd
  docs/inventory/cron.md
  docs/inventory/files.csv
  docs/inventory/files.json
  docs/inventory/files.md
  docs/inventory/metrics.md
  docs/inventory/structure.mmd
Owners: @adam-rms/maintainers

Implement automated stage03 data migration scaffolding
  automation/stage03/coverage.json
  automation/stage03/etl_results.json
  automation/stage03/generate_assets.py
  automation/stage03/report.md
  automation/stage03/run.sh
  automation/stage03/schema.json
  automation/stage03/self_check.sh
  automation/stage03/self_check_results.json
  automation/stage03/status.json
  automation/stage03/summary.json
  automation/stage03/tools_status.json
  automation/stage03/update_report.py
  backend/app/etl/__init__.py
  backend/app/etl/extract.py
  backend/app/etl/load.py
  backend/app/etl/run.py
  backend/app/etl/transform.py
  backend/app/models/__init__.py
  backend/app/models/generated.py
  backend/app/schemas/__init__.py
  backend/app/schemas/generated.py
  backend/pyproject.toml
  backend/tests/etl/fixtures/sample_dump.json
  backend/tests/etl/test_pipeline.py
  docker-compose.yml
  docs/data/er_diagram.mmd
  docs/data/migration_plan.md
Owners: @adam-rms/maintainers, @adam-rms/qa

Improve stage03 schema refresh
  automation/stage03/coverage.json
  automation/stage03/etl_results.json
  automation/stage03/generate_assets.py
  automation/stage03/report.md
  automation/stage03/run.sh
  automation/stage03/schema.json
  automation/stage03/self_check.sh
  automation/stage03/self_check_results.json
  automation/stage03/status.json
  automation/stage03/summary.json
  automation/stage03/tools_status.json
  automation/stage03/update_report.py
  backend/app/etl/__init__.py
  backend/app/etl/extract.py
  backend/app/etl/load.py
  backend/app/etl/run.py
  backend/app/etl/transform.py
  backend/app/models/__init__.py
  backend/app/models/generated.py
  backend/app/schemas/__init__.py
  backend/app/schemas/generated.py
  backend/pyproject.toml
  backend/tests/etl/fixtures/sample_dump.json
  backend/tests/etl/test_pipeline.py
  docker-compose.yml
  docs/data/er_diagram.mmd
  docs/data/migration_plan.md
Owners: @adam-rms/maintainers, @adam-rms/qa

Properly format stage02 backlog YAML
  automation/stage02/generate_inventory.py
  automation/stage02/report.md
  automation/stage02/status.json
  docs/backlog/migration_backlog.json
  docs/backlog/migration_backlog.yaml
  docs/inventory/api/openapi.json
  docs/inventory/api/summary.md
  docs/inventory/cron.md
  docs/inventory/files.csv
  docs/inventory/files.json
  docs/inventory/files.md
  docs/inventory/metrics.md
  docs/inventory/structure.mmd
Owners: @adam-rms/maintainers

Align stage01 status with schema
  .env.example
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .gitignore
  .pre-commit-config.yaml
  Makefile
  README.md
  automation/stage01/created_files.txt
  automation/stage01/prepare_legacy.sh
  automation/stage01/report.md
  automation/stage01/run.sh
  automation/stage01/self_check.sh
  automation/stage01/status.json
  automation/status.schema.json
  backend/.env.example
  backend/.gitkeep
  docs/checklists/stage01.md
  frontend/.env.example
  frontend/.gitkeep
  infrastructure/.gitkeep
  legacy/.gitkeep
  scripts/bootstrap_dev.sh
Owners: @adam-rms/maintainers, @adam-rms/devops

Update Stage 02 outputs and validation
  automation/stage02/generate_inventory.py
  automation/stage02/report.md
  automation/stage02/run.sh
  automation/stage02/self_check.sh
  automation/stage02/status.json
  docs/backlog/migration_backlog.json
  docs/backlog/migration_backlog.yaml
  docs/inventory/api/openapi.json
  docs/inventory/api/summary.md
  docs/inventory/cron.md
  docs/inventory/files.csv
  docs/inventory/files.json
  docs/inventory/files.md
  docs/inventory/metrics.md
  docs/inventory/structure.mmd
Owners: @adam-rms/maintainers

Re-run stage03 automation outputs
  automation/stage03/alembic.log
  automation/stage03/coverage.json
  automation/stage03/ensure_tools.log
  automation/stage03/etl_results.json
  automation/stage03/pytest.log
  automation/stage03/report.md
  automation/stage03/run.sh
  automation/stage03/self_check.sh
  automation/stage03/self_check_results.json
  automation/stage03/status.json
  automation/stage03/summary.json
  automation/stage03/tools_status.json
  automation/stage03/update_report.py
  backend/app/models/generated.py
  backend/app/schemas/generated.py
  docs/data/er_diagram.mmd
  docs/data/migration_plan.md
Owners: @adam-rms/maintainers

Implement FastAPI skeleton automation for stage 04
  automation/stage04/bootstrap_fastapi.py
  automation/stage04/endpoints.json
  automation/stage04/endpoints.md
  automation/stage04/report.md
  automation/stage04/run.sh
  automation/stage04/self_check.sh
  automation/stage04/status.json
  automation/stage04/uvicorn_smoke.log
  backend/.pre-commit-config.yaml
  backend/alembic/env.py
  backend/app/api/__init__.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/health.py
  backend/app/auth/__init__.py
  backend/app/core/config.py
  backend/app/core/exceptions.py
  backend/app/core/logging.py
  backend/app/core/middleware.py
  backend/app/db/session.py
  backend/app/integrations/__init__.py
  backend/app/main.py
  backend/app/repositories/__init__.py
  backend/app/services/__init__.py
  backend/app/services/health.py
  backend/openapi.json
  backend/pydantic_settings/__init__.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/ruff.toml
  backend/structlog/__init__.py
  backend/tests/api/__init__.py
  backend/tests/api/test_health.py
  backend/tests/etl/test_pipeline.py
Owners: @adam-rms/maintainers, @adam-rms/qa

Ignore stage artifacts and refresh stage04 outputs
  .gitignore
  automation/stage04/bootstrap_fastapi.py
  automation/stage04/endpoints.json
  automation/stage04/endpoints.md
  automation/stage04/report.md
  automation/stage04/run.sh
  automation/stage04/self_check.sh
  automation/stage04/status.json
  automation/stage04/uvicorn_smoke.log
  backend/.pre-commit-config.yaml
  backend/alembic/env.py
  backend/app/api/__init__.py
  backend/app/api/routes/__init__.py
  backend/app/api/routes/health.py
  backend/app/auth/__init__.py
  backend/app/core/config.py
  backend/app/core/exceptions.py
  backend/app/core/logging.py
  backend/app/core/middleware.py
  backend/app/db/session.py
  backend/app/integrations/__init__.py
  backend/app/main.py
  backend/app/repositories/__init__.py
  backend/app/services/__init__.py
  backend/app/services/health.py
  backend/openapi.json
  backend/pydantic_settings/__init__.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/ruff.toml
  backend/structlog/__init__.py
  backend/tests/api/__init__.py
  backend/tests/api/test_health.py
  backend/tests/etl/test_pipeline.py
Owners: @adam-rms/maintainers, @adam-rms/qa

Improve stage05 self-check with schemathesis reporting
  .gitignore
  automation/bin/ensure_tools.sh
  automation/stage05/allure-results/placeholder.json
  automation/stage05/contract_diff.json
  automation/stage05/generate_from_backlog.py
  automation/stage05/logs/pytest_integration.log
  automation/stage05/logs/schemathesis.log
  automation/stage05/metrics.json
  automation/stage05/pytest_integration.html
  automation/stage05/report.md
  automation/stage05/run.sh
  automation/stage05/schemathesis_summary.json
  automation/stage05/self_check.sh
  automation/stage05/status.json
  automation/stage05/summary.json
  backend/app/api/routes/__init__.py
  backend/app/api/routes/assets.py
  backend/app/core/config.py
  backend/app/feature_flags.py
  backend/app/repositories/__init__.py
  backend/app/repositories/assets.py
  backend/app/schemas/__init__.py
  backend/app/schemas/assets.py
  backend/app/services/__init__.py
  backend/app/services/assets.py
  backend/loadtests/main.js
  backend/openapi.json
  backend/tests/integration/__init__.py
  backend/tests/integration/conftest.py
  backend/tests/integration/test_assets.py
  docs/api/assets.md
  docs/backlog/migration_backlog.json
  docs/backlog/migration_backlog.yaml
Owners: @adam-rms/maintainers, @adam-rms/qa

Ensure JWT signature verification during decode
  automation/stage06/alert_summary.json
  automation/stage06/logs/bandit.log
  automation/stage06/logs/npm_lint.log
  automation/stage06/logs/playwright_auth.log
  automation/stage06/logs/pytest_auth.log
  automation/stage06/report.md
  automation/stage06/results.json
  automation/stage06/roles_summary.json
  automation/stage06/run.sh
  automation/stage06/security_alerts.jsonl
  automation/stage06/self_check.sh
  automation/stage06/status.json
  automation/stage06/summary.json
  backend/alembic/versions/0002_security_roles.py
  backend/app/auth/__init__.py
  backend/app/auth/audit.py
  backend/app/auth/jwt.py
  backend/app/auth/management.py
  backend/app/auth/mfa.py
  backend/app/auth/models.py
  backend/app/auth/passwords.py
  backend/app/auth/refresh.py
  backend/app/auth/roles.py
  backend/app/auth/service.py
  backend/app/core/config.py
  backend/app/monitoring/__init__.py
  backend/app/monitoring/security.py
  backend/tests/auth/test_audit_trail.py
  backend/tests/auth/test_jwt_manager.py
  backend/tests/auth/test_mfa.py
  backend/tests/auth/test_refresh_store.py
  backend/tests/auth/test_service.py
  backend/tests/monitoring/test_security_monitor.py
  docs/security/policies.md
  docs/security/roles.md
  frontend/package.json
  frontend/scripts/lint.mjs
  frontend/src/shared/api/auth.ts
  frontend/tests/auth.spec.ts
Owners: @adam-rms/maintainers, @adam-rms/qa

Implement stage 07 integrations and background tasks
  .gitignore
  automation/stage07/metrics.txt
  automation/stage07/queue.json
  automation/stage07/report.md
  automation/stage07/results.json
  automation/stage07/run.sh
  automation/stage07/self_check.sh
  automation/stage07/status.json
  automation/stage07/summary.json
  backend/app/api/routes/__init__.py
  backend/app/api/routes/health.py
  backend/app/api/routes/integrations.py
  backend/app/core/config.py
  backend/app/integrations/__init__.py
  backend/app/integrations/base.py
  backend/app/integrations/crm.py
  backend/app/integrations/data/crm_source.json
  backend/app/integrations/notifications.py
  backend/app/integrations/registry.py
  backend/app/integrations/schedule.py
  backend/app/integrations/storage.py
  backend/app/integrations/tasks.py
  backend/app/monitoring/__init__.py
  backend/app/monitoring/metrics.py
  backend/app/schemas/__init__.py
  backend/app/schemas/integrations.py
  backend/app/worker.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/tests/integrations/conftest.py
  backend/tests/integrations/test_integrations.py
  backend/var/.gitignore
  backend/var/integrations/.gitignore
  docker-compose.yml
  frontend/src/shared/api/index.ts
  frontend/src/shared/api/integrationProgress.ts
  infrastructure/monitoring/prometheus.yml
Owners: @adam-rms/maintainers, @adam-rms/qa

feat: extend ensure_tools with bundled tool wrappers
  automation/bin/ensure_tools.sh
  automation/bin/tools/_common.sh
  automation/bin/tools/act
  automation/bin/tools/act.sh
  automation/bin/tools/bandit
  automation/bin/tools/bandit.sh
  automation/bin/tools/helm
  automation/bin/tools/helm.sh
  automation/bin/tools/k6
  automation/bin/tools/k6.sh
  automation/bin/tools/playwright
  automation/bin/tools/playwright.sh
  automation/bin/tools/schemathesis
  automation/bin/tools/schemathesis.sh
  automation/bin/tools/terraform
  automation/bin/tools/terraform.sh
  docs/migration_plan.md
Owners: @adam-rms/maintainers

Add temporary PostgreSQL fallback for stage03 Alembic checks
  automation/bin/run_pg_tmp.py
  automation/stage03/self_check.sh
  backend/pyproject.toml
  backend/requirements.txt
  docs/migration_plan.md
Owners: @adam-rms/maintainers

Add ETL CLI smoke test and coverage check
  automation/stage03/alembic.log
  automation/stage03/coverage.json
  automation/stage03/ensure_tools.log
  automation/stage03/pytest.log
  automation/stage03/report.md
  automation/stage03/self_check.sh
  automation/stage03/self_check_results.json
  automation/stage03/status.json
  backend/app/schemas/__init__.py
  backend/tests/etl/test_run_cli.py
Owners: @adam-rms/maintainers, @adam-rms/qa

Add stage05 backlog updater and refresh parity docs
  automation/stage05/bin/update_backlog.py
  automation/stage05/report.md
  docs/backlog/migration_backlog.yaml
  docs/migration_plan.md
Owners: @adam-rms/maintainers

feat: add container runners and aggregate stage05 metrics
  automation/bin/tools/run_k6.sh
  automation/bin/tools/run_schemathesis.sh
  automation/stage05/metrics.json
  automation/stage05/report.md
  automation/stage05/schemathesis_summary.json
  automation/stage05/self_check.sh
Owners: @adam-rms/maintainers

Tighten stage06 security tooling setup
  automation/bin/ensure_tools.sh
  automation/stage06/run.sh
  automation/stage06/self_check.sh
  backend/requirements.txt
  frontend/scripts/install_playwright.mjs
Owners: @adam-rms/maintainers

Improve stage07 self-check Celery handling
  automation/stage07/self_check.sh
  docs/migration_plan.md
Owners: @adam-rms/maintainers

Add integration progress React UI module
  automation/stage07/report.md
  docs/api/integration-progress-ui.md
  frontend/package.json
  frontend/src/features/integration-progress/IntegrationList.tsx
  frontend/src/features/integration-progress/IntegrationProgressDashboard.test.tsx
  frontend/src/features/integration-progress/IntegrationProgressDashboard.tsx
  frontend/src/features/integration-progress/IntegrationStatusPanel.tsx
  frontend/src/features/integration-progress/RunIntegrationButton.tsx
  frontend/src/features/integration-progress/index.ts
  frontend/src/features/integration-progress/useIntegrationProgress.ts
  frontend/tsconfig.json
  frontend/vitest.config.ts
  frontend/vitest.setup.ts
Owners: @adam-rms/maintainers

Fix tool checks for bandit
  README.md
  automation/bin/ensure_tools.sh
  docs/migration_plan.md
Owners: @adam-rms/maintainers

Add lightweight podman runtime and memory broker defaults
  automation/bin/tools/podman
  automation/bin/tools/podman.sh
  automation/bin/tools/podman_lite.py
  automation/bin/tools/run_k6.sh
  automation/bin/tools/run_schemathesis.sh
  automation/stage07/run.sh
  docker-compose.override.yml
Owners: @adam-rms/maintainers

chore: refresh stage 03-07 verification artifacts
  automation/stage03/alembic.log
  automation/stage03/ensure_tools.log
  automation/stage03/pytest.log
  automation/stage03/report.md
  automation/stage03/self_check_results.json
  automation/stage03/status.json
  automation/stage03/tools_status.json
  automation/stage05/logs/k6.log
  automation/stage05/logs/pytest_integration.log
  automation/stage05/logs/schemathesis.log
  automation/stage05/logs/uvicorn.log
  automation/stage05/logs/uvicorn_schemathesis.log
  automation/stage05/metrics.json
  automation/stage05/pytest_integration.html
  automation/stage05/report.md
  automation/stage05/schemathesis_summary.json
  automation/stage05/status.json
  automation/stage06/alert_summary.json
  automation/stage06/logs/bandit.log
  automation/stage06/logs/playwright_setup.log
  automation/stage06/logs/pytest_auth.log
  automation/stage06/report.md
  automation/stage06/results.json
  automation/stage06/security_alerts.jsonl
  automation/stage06/self_check.sh
  automation/stage06/status.json
  automation/stage07/logs/celery_ping.log
  automation/stage07/logs/celery_worker.log
  automation/stage07/logs/pytest.log
  automation/stage07/metrics.txt
  automation/stage07/report.md
  automation/stage07/results.json
  automation/stage07/status.json
Owners: @adam-rms/maintainers
